In [9]:
import numpy as np

In [11]:
import pandas as pd

In [13]:
A = [1,2,3,4]
B = [5,6,7,8]
C = [9,0,1,2]
D = [3,4,5,6]
E = [7,8,9,0]

In [21]:
df = pd.DataFrame([A,B,C,D,E], ['a','b','c','d','e'], ['W','X','Y','Z']) #columns X rows

In [23]:
df

   W  X  Y  Z
a  1  2  3  4
b  5  6  7  8
c  9  0  1  2
d  3  4  5  6
e  7  8  9  0